---
import Layout from "../layouts/Layout.astro";


const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeOut',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<Layout title="Gallery">
	<main transition:animate={myFade}>
		<div class="carousel">
			<a href="/paintings/1234">
				<picture>
					<source
						srcset="/images/photo-1579783902614-a3fb3927b6a5.webp"
						media="(orientation: portrait)"
					/>
					<img
						src="/images/photo-1579783902614-a3fb3927b6a5.webp"
						alt=""
						transition:name="painting-1234"
					/>
				</picture>
			</a>
			<a href="/paintings/1234">
				<picture>
					<source
						srcset="/images/photo-1584285405429-136bf988919c.webp"
						media="(orientation: portrait)"
					/>
					<img
						src="/images/photo-1584285405429-136bf988919c.webp"
						alt=""
					/>
				</picture>
			</a>
			<a href="/paintings/1234">
				<picture>
					<source
						srcset="/images/photo-1584727638057-78254f636b5a.webp"
						media="(orientation: portrait)"
					/>
					<img
						src="/images/photo-1584727638057-78254f636b5a.webp"
						alt=""
					/>
				</picture>
			</a>
			<a href="/paintings/1234">
				<picture>
					<source
						srcset="/images/photo-1578301978693-85fa9c0320b9.webp"
						media="(orientation: portrait)"
					/>
					<img
						src="/images/photo-1578301978693-85fa9c0320b9.webp"
						alt=""
					/>
				</picture>
			</a>
		</div>
	</main>
</Layout>

<style>
	main {
		max-width: 100vw;
	}

	.carousel {
		max-width: 100%;
		display: flex;
		align-items: flex-end;
		gap: 15px;
	}

	.carousel a {
		width: 250px;
	}

	.carousel a img {
		width: 100%;
		height: auto;
	}
</style>
