---
import Layout from "../layouts/MainLayout.astro";
import Carousel from "../components/carousel.astro"
import { COPIES } from "../constants/copies"

const anim = {
  old: {
    name: 'goRight',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'goLeft',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};

const lang = 'EN'
---

<Layout title="Gallery">
	<section transition:animate={myFade}>
		<h1>{COPIES.HOME.TITLE[lang]}</h1>
		<Carousel />
	</section>
</Layout>

<style>
	section {
		max-width: 100vw;
	}
	h1 {
		margin: 25px 0;
	}

</style>
