---
import { LANGUAGES, NAVIGATION } from "../constants/constants";

const { lang = LANGUAGES[0] } = Astro.params;
---

<nav>
    <ul>
        {
            NAVIGATION.map((item) => (
                <li>
                    <a href={`/${lang}${item.PATH}`}>
                        {item.TEXT[lang as keyof typeof item.TEXT]}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        padding: 15px 20px;
        display: flex;
        justify-content: flex-end;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 15px;
    }
    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
    }
</style>
