---
import Layout from '../../layouts/MainLayout.astro'


export function getStaticPaths() {
  return [
    {params: {id: '1234'}},
  ];
}

const anim = {
  old: {
    name: 'goRight',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'goLeft',
    duration: '0.5s',
    easing: 'linear',
    fillMode: 'backwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};

---

<Layout title='Gallery'>
    <main transition:animate={myFade}>
        <a href="/">Home</a>
        <picture>
            <source
                srcset="/images/photo-1579783902614-a3fb3927b6a5.webp"
                media="(orientation: portrait)"
            />
            <img
                src="/images/photo-1579783902614-a3fb3927b6a5.webp"
                alt=""
                transition:name="painting-1234"
            />
        </picture>
    </main>
</Layout>

<style>
    main {
        max-width: 100vw;
    }

    main img {
        width: 100%;
    }
</style>
